.timer {
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 200px;
  max-width: 600px;

  &_header {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.2px;
    font-size: 30px;
    color: #80f6d5;

  }
}