.timerDisplay {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2px;
  font-size: 30px;
  color: #000000;
}